  @media only screen and (max-width:1920px){
    body{
      background: orange;
    }
    .title{
      font-size: 32px;
      width: 900px;
      padding-left: 10px;
      display: inline-block;
    }
    .title>h1{
      background:white; 
      color:black;
      border-radius:50px;
      margin: 0px;
      position: relative;
      left:29%;
      padding-left: 30px;
    }

    input[type=checkbox]{
      display: none;
    }
    a,
      a:visited,
      a:hover,
      a:active {
        color: black;
      }
      
    .navi>ul{
      background: white;
      list-style: none;
      padding:0px;
      width: 850px;
      display: flex;
      position: relative;
      left:21%;
      border-radius:50px;
    }
    .navi>ul>li{
      padding-right:10px;
      padding-left:10px;
      margin-left:10px; 
      border-right: 1px solid black;
    }
    #css-slider{
      width: 600px;
      height: 300px;
      position: relative;
      left: 30%;
      margin-bottom: 0px;
      overflow: hidden;
    }
     
     .slider-wrapper {
     display: flex;
      width: 300%;
      position: relative;
      left:0%;
      will-change: transform;
      animation: slider 30s infinite;
    }
     
    @keyframes slider {
      0% { transform: translateX(0); }
      20% { transform: translateX(-600px); }
      40% { transform: translateX(-1200px); }
      60%{transform:translateX(-1800px)}
      90%{transform: translateX(-2400px)}
      100% { transform: translateX(0); }
    }
    .title2>h3{
      margin-top: 50px;
      margin-bottom:0; 
      padding-bottom: 10px;
      position: relative;
      left:23%;
    }
    .saitosetu{
      font-weight: bold;
      color: black;
      border:solid 3px white;
      border-radius:10px;
      width: 400px;
      height:300px ;
      position: relative;
      left:22%; 
    }

    .saitosetu p{
      margin: 0;
      font-size:20px ;
      padding:10px ;
      padding-top:50px ;
    }
    .hako{
     display: flex;
    }
    .photo1{
      position:relative;
      left: 25%;
    }
    .photo1>figure{
      text-align: center;
      position: relative;
      top:-10px;
    }
    .title3>h3{
      margin-top: 50px;
      margin-bottom:0;
      padding-bottom: 10px;
      position: relative;
      left:23%;
    }
    .saitosetu2{
      font-weight: bold;
      color: black;
      border:solid 3px white;
      border-radius:10px;
      width: 400px;
      height:300px ;
      position: relative;
      left:22%; 
    }
    .saitosetu2 p{
      margin: 0;
      font-size:20px ;
      padding:10px ;
      padding-top:50px ;
    }
    .hako2{
       display: flex; 
 
    }
    .photo{
      position:relative;
      left: 35%;
      width: 100%;
      overflow: hidden;
    }
    .po{
      position: absolute;
      height: auto;
      opacity: 0;
      animation: anime 24s 0s infinite; 
    }
    
    .po:nth-of-type(2){
      animation-delay: 8s;
    }
    .po:nth-of-type(3){
      animation-delay: 16s;
    }
    @keyframes anime{
      0%{
        opacity: 0;
      }
      10%{
        opacity: 1;
      }
      28%{
        opacity: 1;
      }
      38%{
        opacity: 0;
      }
      100%{opacity: 0;}
    }
    
    
    .rogo{
      width: 250px;
      text-align: center;
      position: relative;
      left:42%; 
      font-size: 14px;
      color:gray;
       margin-top:50px ; 
    }
    
}

@media screen and (max-width: 1000px){
  input[type=checkbox]{
    display: inline;
  }
  * {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    }
    a,
    a:visited,
    a:hover,
    a:active {
    text-decoration: none;
    /* color: inherit; */
    color: black;
    }
    .cp_fullscreenmenu {
     position: fixed;   
    z-index: 1;
    top: 0;
    left: 0;
    }
    /*menuコンテンツ*/
    .cp_fullscreenmenu .menu {
      position: fixed;  
    top: 0;
    left: 0;
    display: flex;
    visibility: hidden;
    overflow: hidden;
    width: 100%;
    height: 100%;
    pointer-events: none;
    outline: 1px solid transparent;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    align-items: center;
    justify-content: center;
    }
    .cp_fullscreenmenu .menu > div {
    display: flex;
    overflow: hidden;
    width: 1000vw;
    height: 1000vw;
    transition: all 0.4s ease;
    -webkit-transform: scale(0);
    transform: scale(0);
    text-align: center;
    color: #fefefe; 
     border-radius: 50%; 
     background:white;
    flex: none;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    align-items: center;
    justify-content: center;
    }
     .cp_fullscreenmenu .menu > div > ul {
    display: block;
    position: static;
    max-height: 100vh;
    margin: 0;
    padding: 0 1em;
    list-style: none;
    transition: opacity 0.4s ease;
    opacity: 0;
    }
    .cp_fullscreenmenu .menu > div > ul > li {
      font-size: 29px;
    color: black;
    display: block;
    margin: 1em;
    padding: 0;
    border-right: none;

    }
    .cp_fullscreenmenu .menu > div > ul > li > a {
    position: relative;
    display: inline;
    cursor: pointer;
    transition: color 0.4s ease;
    }
    .cp_fullscreenmenu .menu > div > ul > li > a:hover {
    color: #e5e5e5;
    }
    .cp_fullscreenmenu .menu > div > ul > li > a:hover:after {
    width:100%;
    }
    .cp_fullscreenmenu .menu > div > ul > li > a:after {
    position: absolute;
    z-index: 1;
    bottom: -0.15em;
    left: 0;
    width: 0;
    height: 2px;
    content: '';
    transition: width 0.4s ease;
    background: #e5e5e5;
    } 
    /*クリックしたらメニューが開閉の動作*/
    .cp_fullscreenmenu .toggle {
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    width: 60px;
    height: 60px;
    cursor: pointer;
    opacity: 0;
    }
    .cp_fullscreenmenu .toggle:checked + .hamburger > span {
    -webkit-transform: rotate(135deg);
    transform: rotate(135deg);
    }
    .cp_fullscreenmenu .toggle:checked + .hamburger > span:before,
    .cp_fullscreenmenu .toggle:checked + .hamburger > span:after {
    top: 0;
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
    }
    .cp_fullscreenmenu .toggle:checked + .hamburger > span:after {
    opacity: 0;
    }
    .cp_fullscreenmenu .toggle:checked ~ .menu {
    visibility: visible;
    pointer-events: auto;
    }
    .cp_fullscreenmenu .toggle:checked ~ .menu > div {
    transition-duration: 0.75s;
    -webkit-transform: scale(1);
    transform: scale(1);
    }
    .cp_fullscreenmenu .toggle:checked ~ .menu > div > ul {
    opacity: 1;
    }
    .cp_fullscreenmenu .toggle:checked ~ .menu > div > ul li:nth-of-type(1) {
    transition-delay: 0.4s;
    }
    .cp_fullscreenmenu .toggle:checked ~ .menu > div > ul li:nth-of-type(2) {
    transition-delay: 0.6s;
    }
    .cp_fullscreenmenu .toggle:checked ~ .menu > div > ul li:nth-of-type(3) {
    transition-delay: 0.8s;
    }
    .cp_fullscreenmenu .toggle:checked ~ .menu > div > ul li:nth-of-type(4) {
    transition-delay: 1.0s;
    }
    .cp_fullscreenmenu .toggle:checked ~ .menu > div > ul li:nth-of-type(5) {
      transition-delay: 1.2s;
      }
      .cp_fullscreenmenu .toggle:checked ~ .menu > div > ul li:nth-of-type(6) {
        transition-delay: 1.4s;
        }
        .cp_fullscreenmenu .toggle:checked ~ .menu > div > ul li:nth-of-type(7) {
          transition-delay: 1.6s;
          }
          
          .cp_fullscreenmenu .toggle:checked ~ .menu > div > ul li:nth-of-type(8) {
            transition-delay: 1.8s;
            }
         
  
    .cp_fullscreenmenu .toggle:hover + .hamburger {
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.1);
    }
    .cp_fullscreenmenu .toggle:checked:hover + .hamburger > span {
    -webkit-transform: rotate(225deg);
    transform: rotate(225deg);
    }
    /*ハンバーガー*/
    .cp_fullscreenmenu .hamburger {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    display: block;
    width: 60px;
    height: 60px;
    padding: 0.5em 1em;
    cursor: pointer;
    transition: box-shadow 0.4s ease;
    border-radius: 0 0.12em 0.12em 0; 
    background:white;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    }
    .cp_fullscreenmenu .hamburger > span {
    position: relative;
    top: 50%;
    display: block;
    width: 100%;
    height: 2px;
    transition: all 0.4s ease;
    background:black;
    }
    .cp_fullscreenmenu .hamburger > span:before,
    .cp_fullscreenmenu .hamburger > span:after {
    position: absolute;
    z-index: 1;
    top: -10px;
    left: 0;
    display: block;
    width: 100%;
    height: 2px;
    content: '';
    transition: all 0.4s ease;
    background: inherit;
    }
    .cp_fullscreenmenu .hamburger > span:after {
    top: 10px;
    }
          
    .title{
     font-size: 0;
     position: relative;
     left: 50%;
     margin-top:10px;
     margin-bottom:10px;
    }
    .title::before{
      font-size: 32px;
      content:"西都原考古博物館"
    }
    .saitosetu2 p{
      margin: 0;
      font-size:20px ;
      padding:0px ;
      padding-top:30px ;
    }
  }